@font-face {
  font-family: "Inter";
  src: url("/dev/fonts/Inter-Regular.woff2") format("woff2"),
    url("/dev/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/dev/fonts/Inter-Medium.woff2") format("woff2"),
    url("/dev/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/dev/fonts/Inter-SemiBold.woff2") format("woff2"),
		url("/dev/fonts/Inter-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/dev/fonts/Inter-Bold.woff2") format("woff2"),
    url("/dev/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// main menu
.font {
	font-family: 'Inter';
	&--regular {
		font-weight: normal;
	}
	&--medium {
		font-weight: 500;
	}
	&--semibold {
		font-weight: 600;
	}
	&--bold {
		font-weight: bold;
	}
}

.hero {
	font-size: 1.1em;
	&__para {
		width: 80%;
	}
	&__btn {
		background-color: #FFB400;
		border: none;
		border-radius: 0.25em;
		padding: 0.8em;
		width: 28%;
	}
}