@font-face {
  font-family: "Inter";
  src: url("/dist/fonts/Inter-Regular.woff2") format("woff2"), url("/dist/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/dist/fonts/Inter-Medium.woff2") format("woff2"), url("/dist/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/dist/fonts/Inter-SemiBold.woff2") format("woff2"), url("/dist/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/dist/fonts/Inter-Bold.woff2") format("woff2"), url("/dist/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("/dist/icons/icomoon.eot?knc68n");
  src: url("/dist/icons/icomoon.eot?knc68n#iefix") format("embedded-opentype"), url("/dist/icons/icomoon.ttf?knc68n") format("truetype"), url("/dist/icons/icomoon.woff?knc68n") format("woff"), url("/dist/icons/icomoon.svg?knc68n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coding:before {
  content: "\e909";
}

.icon-illustration:before {
  content: "\e90a";
}

.icon-game-development:before {
  content: "\e90b";
}

.icon-photographer:before {
  content: "\e90c";
}

.icon-ad-pop-up:before {
  content: "\e90d";
}

.icon-microphone:before {
  content: "\e90e";
}

.icon-9:before {
  content: "\e908";
  color: #ffb400;
  font-size: 0.9em;
  margin-right: 1em;
}

.icon-6:before {
  content: "\e902";
  font-size: 1.5em;
}

.icon-5:before {
  content: "\e903";
}

.icon-4:before {
  content: "\e904";
}

.icon-3:before {
  content: "\e905";
}

.icon-2:before {
  content: "\e906";
}

.icon-1:before {
  content: "\e907";
  color: #ffb400;
  font-size: 0.6em;
}

.icon-7:before {
  content: "\e900";
  margin: 0 0.1em 0 -0.1em;
}

.icon-8:before {
  content: "\e901";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.font {
  font-family: "Inter";
}
.font--regular {
  font-weight: normal;
}
.font--medium {
  font-weight: 500;
}
.font--semibold {
  font-weight: 600;
}
.font--bold {
  font-weight: bold;
}
.font--span {
  font-weight: normal;
  font-size: 0.5em;
}

.spacing {
  margin: 7rem 0;
}

.para {
  color: #767676;
}
.para--width {
  width: 43%;
}

.bg-gray {
  background-color: #F0F0F6;
}

.hero {
  font-size: 1.1em;
}
.hero__para {
  width: 80%;
}
.hero__btn {
  background-color: #FFB400;
  border: none;
  border-radius: 0.25em;
  padding: 0.8em;
  width: 28%;
}

.recommendation {
  margin: 7rem auto 4rem auto;
}
.recommendation__para {
  width: 90%;
}
.recommendation__starlist i {
  margin-right: 0.5em;
}

.educationWork__description {
  width: 95%;
}
.educationWork hr {
  margin: 1rem 0 2rem 0;
}

.grid-pic {
  position: absolute;
  opacity: 5%;
}

.grid-cover {
  width: 310px;
  height: 300px;
  background-color: #ffb400f2;
}

.portfolio-imgs {
  padding: 0 4.5rem;
  background: #e2e1e1;
}

.contact-icon {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #FFB400;
}

#map {
  width: 100%;
  height: 400px;
}